<h2>Product Page Shortcodes</h2>

<div class="all-shortcodes">
    <div class="shortcode">
        <span><strong>Product Title: </strong>[shortcodeProductTitle]</span>
    </div>
    <div class="shortcode">
        <span><strong>Product Link: </strong>[shortcodeProductLink]</span>
    </div>
    <div class="shortcode">
        <span><strong>Product Reviews: </strong>[shortcodeProductReviews]</span>
    </div>
    <div class="shortcode">
        <span><strong>Product Price: </strong>[shortcodeProductPrice]</span>
    </div>
    <div class="shortcode">
        <span><strong>Product Categories: </strong>[shortcodeProductCategories]</span>
    </div>
    <div class="shortcode">
        <span><strong>Product Featured Image: </strong>[shortcodeProductFeatureImage]</span>
    </div>
    <div class="shortcode">
        <span><strong>Product Promotion: </strong>[shortcodeProductPromotion]</span>
    </div>
    <div class="shortcode">
        <span><strong>Product Description: </strong>[shortcodeProductDescription]</span>
    </div>
    <div class="shortcode">
        <span><strong>Product Information: </strong>[shortcodeProductInformation]</span>
    </div>
    <div class="shortcode">
        <span><strong>Product Brand: </strong>[shortcodeProductBrand]</span>
    </div>
    <div class="shortcode">
        <span><strong>Product Payment Methods: </strong>[shortcodeProductPaymentMethods]</span>
    </div>
    <div class="shortcode">
        <span><strong>Product Tags: </strong>[shortcodeProductTags]</span>
    </div>
</div>